@model Work

<div class="card card-outline-primary">
<h3>ID: @Model.WorkId</h3>
<div>Order Date: @Model.OrderDate</div>
<div>Priority: @Model.Priority</div>
<div>Work Type: @Model.WorkType</div>
<div>Pay Status: @Model.PayStatus</div>
<hr />
</div>