@model Work

<div class="card card-outline-primary">
<h3>ID: @Model.Id</h3>
<div>Order Date: @Model.OrderDate</div>
<div>Priority: @Model.Priority</div>
<div>Work Type: @Model.WorkType</div>
<div>Notes: @Model.Notes</div>
<div>Pay Status: @Model.PayStatus</div>
<div>Gear ID: @Model.GearId</div>
<div>User ID: @Model.UserId</div>
<hr />
</div>